---
layout: default
---

<div class="home">

  <div class="profile">
      <div id="div1">
          <img src="/assets/images/sangwon_photo.jpg" alt="Sangwon Photo">
      </div>
      <div id="div2">
          <h1>Sangwon Seo</h1>
          <h3>
            Ph.D. Student in <a href="https://cs.rice.edu/">Computer Science</a><br>
            <a href="https://www.rice.edu/">Rice University</a>, Texas, USA
          </h3>
          <p>
            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> 490 O'Connor Building<br>
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> sangwon.seo@rice.edu<br>
          </p>

          <p>
          <a href="https://github.com/sangwon-seo">
            <svg class="svg-icon" width="30" height="30" viewBox="0 0 16 16">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
          </a>
          <a href="https://scholar.google.com/citations?user=Tkk02W8AAAAJ&hl=en">
            <svg class="svg-icon" width="30" height="30" viewBox="0 0 16 16">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#google_scholar' | relative_url }}"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/sangwon91/">
            <svg class="svg-icon" width="30" height="30" viewBox="0 0 16 16">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg>
          </a>
          </p>
      </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</div>
