---
layout: default
---

<div class="home">

  <div class="profile">
      <div id="photo">
          <img src="/assets/images/sangwon_photo.jpg" alt="Sangwon Photo">
      </div>
      <div id="about">
          <h1>Sangwon Seo</h1>
          <h3>Ph.D. Student in Computer Science</h3>
          <h3><a href="https://cs.rice.edu/">Rice University</a></h3>
          <p>Office: 3002 Duncan Hall</p>
          <p>E-mail: sseo@rice.edu</p>
      </div>
  </div>

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


</div>
